
# Игнорировать всё
*

# Но НЕ игнорировать папку dist
!dist/

# И не игнорировать содержимое dist
!dist/**

# Также не игнорировать .gitignore
!.gitignore

# Тем не менее полезные исключения
node_modules/
.DS_Store
